# This is an example/template file for your `.env`
# After you copy the repository, you can update this file and remove the `.example` portion from the file name.

# --- SENSITIVE --- 
# Local Storage of keys and passwords