# List files I want GitHub to ignore
.env
.venv
config.json
credentials.json
scratch.py
prompt.txt
token.json
api-response.json
notion_sandbox.py
test_request.http
generate_token.py
google_check.py

__pycache__/