---
# This is an example/template file for your `.env`
# After you copy the repository, you can update this file and remove the `.example` portion from the file name.
---


# --- SENSITIVE --- 
# Local Storage of keys and passwords

# This `.env` is organized with instructions on how to acquire each variable
# Work top to bottom: Some of the top variables are needed for the bottom ones


# --- NOTION_SECRET ---
# Go to [notion.so/my-integrations] and create a new integration
# Enter a name and select an Authentication method: we will use `Access token`
# Copy and save the Integration access token
# Begins with `ntn_`
NOTION_ACCESS_TOKEN=

# --- GEMINI_API_KEY ---
# Go to [aistudio.google.com] to generate an API key and copy it
GEMINI_API_KEY=

# --- GOOGLE_CLIENT ---
# See the [INSTALL](INSTALL.md#google-cloud--oauth-setup) for detailed steps
# These values are pulled directly from the `credentials.json`
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- GOOGLE_REFRESH_TOKEN ---
# Requires GOOGLE_CLIENT to be configured
# Pulled from `token.json` which can be created using `generate_token.py`
GOOGLE_REFRESH_TOKEN=

# --- NOTION_VERIFICATION_TOKEN ---
# See [INSTALL](INSTALL.md#notion-webhook-setup) for detailed steps
# Begins with `secret_`
NOTION_VERIFICATION_TOKEN=